body {
    background-color: #F2F2F2;
}
.layui-fluid {
    padding: 15px;
}
.main {
    height: calc(100vh - 30px);
}
.total {
    height: 400px;
}
#bar {
    height: 350px;
}
.left, .right{
    padding: 30px;
}
.layui-input {
    height: 30px;
    border-top: none;
    border-left: none;
    border-right: none;
}